absl-py==0.12.0
astor==0.8.1
backcall==0.2.0
certifi==2020.12.5
cloudpickle==1.6.0
cycler==0.10.0
decorator==4.4.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.36.1
h5py==2.10.0
imageio==2.9.0
imgaug==0.4.0
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
Keras==2.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.3.4
networkx==2.5
numpy==1.18.5
nvidia-cublas==11.3.1.68
nvidia-cuda-cupti==11.2.67
nvidia-cuda-nvcc==11.2.67
nvidia-cuda-nvrtc==11.1.105
nvidia-cuda-runtime==11.2.72
nvidia-cudnn==8.1.0.77
nvidia-cufft==10.4.0.72
nvidia-curand==10.2.3.68
nvidia-cusolver==11.0.2.68
nvidia-cusparse==11.3.1.68
nvidia-dali-cuda110==0.29.0
nvidia-dali-nvtf-plugin==0.29.0+nv21.2
nvidia-horovod==0.21.0+nv21.2
nvidia-nccl==2.8.4
nvidia-pyindex==1.0.6
nvidia-tensorboard==1.15.0+nv21.2
nvidia-tensorflow==1.15.5+nv21.2
nvidia-tensorrt==7.2.2.3
opencv-python==4.5.1.48
opt-einsum==3.3.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
prompt-toolkit==3.0.17
protobuf==3.15.6
psutil==5.8.0
ptyprocess==0.7.0
Pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.4.1
scikit-image==0.18.1
scipy==1.6.1
Shapely==1.7.1
six==1.15.0
tensorboard @ https://pypi.ngc.nvidia.com/tensorboard/tensorboard-1.15.0-py2.py3-none-any.whl
tensorflow-estimator==1.15.1
termcolor==1.1.0
tifffile==2021.3.16
traitlets==5.0.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
